extends layout
block head
    title
        | #{title}
block content
    div.container(data-ng-controller="TestController", data-ng-init="setGuests( #{JSON.stringify(guests)} )")
    h1 My Guest List
    h2 Confirmed
        | guests: {{guests}}
        div.invite(data-ng-repeat="guest in guests")
            p.name "{{guest.firstName}} {{guest.lastName}}"
