extends layout
block head
    title
        | #{title}
block content
    div#info.container(data-ng-controller="InfoController")
        section.description
            h1 Party time!
            h2 Sunday, November 9th from 3-6pm
            p
                | If you haven't already, please <a href="/rsvp">RSVP</a> before October 1, 2014.
        section.dinner-map
            div#map-wrap
                div#gmap_canvas
            h2 Tres Tequila Lounge & Mexican Kitchen
            address
                | 130 Townsend Street, San Francisco, CA 94107
                br
                a.directions-link(target="_blank", href="https://www.google.com/maps/dir/Current+Location/130+Townsend+Street+San+Francisco+CA+94107") Get directions