extends layout
block head
    title
        | #{title}
block content
    div#registry.container(data-ng-controller="RegistryController")
        h1 Shower us with your love (and gifts)
        p Although gifts are great we feel like the best thing you could give would be a contribution to a once in a lifetime honeymoon. Click below to contribute to our HoneyFund.
        div(style="width:200px;margin:0 auto;")
            a(target="_blank", href="http://www.honeyfund.com/wedding/araquistainwedding", style="text-align:left;background:url('http://www.honeyfund.com/share/honeyfund3.png') no-repeat;display:block;width:200px;height:100px;text-indent:-9999em;")