extends layout
block head
    title
        | #{title}
block content
    div#rsvp.container(data-ng-controller="RsvpController", data-ng-init="setData(#{JSON.stringify(invites)}, #{JSON.stringify(guests)})")
        img.home-square(src="/images/square7.jpg")
        h1 Let us know if you're coming to dinner
        address
            | Tres
            | 130 Townsend Street, San Francisco, CA 94107
            | Sunday, November 9th from 3-6pm
        h2.name-label(for="name") RSVPing has closed. If you have not RSVPed yet please contact Jon or Britney directly.
