.ng-cloak { display:none !important; }

body {
  padding: 50px;
  font: 14px "Open Sans", Helvetica, Arial, sans-serif;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: #00B7FF;
}
h1 {
  margin: 18px 0;
  color: #0071CF;
  font-family: "Josefin Sans";
}
nav {
  width: 100%;
  ul {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
  }
}

body {
  padding: 0;
  background: #cccccc;
  background: -moz-linear-gradient(top, #eeeeee 0%, #eeeeee 50%, #ffffff 50%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(50%,#eeeeee), color-stop(50%,#ffffff), color-stop(100%,#ffffff));
  background: -webkit-linear-gradient(top, #eeeeee 0%,#eeeeee 50%,#ffffff 50%,#ffffff 100%);
  background: -o-linear-gradient(top, #eeeeee 0%,#eeeeee 50%,#ffffff 50%,#ffffff 100%);
  background: -ms-linear-gradient(top, #eeeeee 0%,#eeeeee 50%,#ffffff 50%,#ffffff 100%);
  background: linear-gradient(to bottom, #eeeeee 0%,#eeeeee 50%,#ffffff 50%,#ffffff 100%);
  background-size: 100% 80px;
}

#hero {
  height: 100px;
  width: 100%;
  background-color: #EEE;
}
#content-wrap {
  padding: 0 40px 40px;
}
.container {
  min-height: 3000px;
  max-width: 800px;
  margin: 0 auto;
  padding: 56px 40px 40px;
  background-color: #fff;
  //border: 1px solid #eee;
}

#navigation {
  position: relative;
  z-index: 1000;
  background-color: #fff;
  //border-bottom: 1px solid #eee;
  //box-shadow: 0px 2px 2px rgba(0,0,0,0.3);
  .nav-list {
    width: 100%;
    text-align: center;
  }
  .nav-item {
    margin-right: 16px;
    margin-bottom: 8px;
    &:last-child {
      margin-right: 0px;
    }
    &:hover {
      border-bottom: 2px solid #CCC;
    }
    &.active {
      border-bottom: 2px solid #0071CF;
    }
    .nav-link {
      margin: 0 0 -2px;
      position: relative;
      padding: 12px 4px 2px;
      line-height: 18px;
      text-decoration: none;
      font-size: 26px;
      font-weight: bold;
      color: #000;
      font-family: "Josefin Sans";
      text-shadow: 0px -2px 0px #FFF;
      &:after {
        top: 0;
        left: 0;
        padding: 12px 4px 0px;
        position: absolute;
        content: attr(data-title);
        text-shadow: 1.5px 0px 0px #fff;
      }
      &:before {
        top: 0;
        left: 0;
        padding: 12px 4px 0px;
        position: absolute;
        content: attr(data-title);
        text-shadow: -1.5px 0px 0px #fff;
      }
    }
  }
}

.in-bl {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
}


///RSVP/////
address {
  white-space: pre;
  margin: 32px 0;
}
label {
  font-family: "Josefin Sans";
  color: #009288;
  font-size: 18px;
}
.aw-input {
  border-radius: 3px;
  padding: 4px;
  font-size: 18px;
  border: 1px solid #ccc;
  margin: 9px;
}
//Mixins
.transition (@transition) {
  -webkit-transition: @transition;
  -moz-transition:    @transition;
  -ms-transition:     @transition;
  -o-transition:      @transition;
}